<div class="container content">
  <!-- <div *ngFor="let randomItem of randomItems"> -->

    <div class="row">
      <div class="col-md-2">
        onderwerp
      </div>
      <div class="col-md-10">
        {{ randomItem.Onderwerp }}
      </div>
    </div>

    <div class="row d-none d-sm-block">
      <div class="col-md-2">
        teaser
      </div>
      <div class="col-md-10">
        {{ randomItem.Teaser }}
      </div>
    </div>

    <div class="row d-none d-sm-block">
      <div class="col-md-2">
        CreatedBy
      </div>
      <div class="col-md-10">
        {{ randomItem.CreateDate | date:"dd MMM yyyy" }}
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-md-2">
        CreateDate
      </div>
      <div class="col-md-10">
        {{ randomItem.CreatedBy }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Tekst
      </div>
      <div class="col-md-10" [innerHTML]="randomItem.Body">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Foto's
      </div>
      <div class="col-md-10">
        <div *ngFor="let image of randomItem.Images">
          {{ image.Naam }}
        </div>
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-md-2">
        tags
      </div>
      <div class="col-md-10">
        {{ randomItem.Tags }}
      </div>
    </div>

    <button (click)="getRandomItem()">Volgende</button>

  <!-- </div> -->
</div>
