<div class="container">
  <div *ngFor="let item of items">

    <div class="row">
      <div class="col onderwerp">
        <h1>{{ item.Onderwerp }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col profiel">
        <img src="images/profielen/{{ item.CreatedBy }}.png"> {{ item.CreatedBy }}, {{ item.CreateDate | date:"dd MMM yyyy" }}
      </div>
    </div>

    <div class="row">
      <div class="col navigation">
        <a href="#" (click)="getVorige()">vorige</a>
        <a href="#" (click)="getVolgende()">volgende</a>
        <a href="#" (click)="getRandom()" >random</a>  
      </div>
    </div>

    <div class="row">
      <div class="col images">
        <div *ngFor="let image of item.Images" class="image">
          <img src="../../images/{{ image.Naam }}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col tekst">
        <div [innerHTML]="item.Body"></div>
      </div>
    </div>

  </div>
</div>
