<div class="container">


  <div *ngFor="let item of items">

    <div class="jumbotron">
      <h1 class="display-3">dev: {{ item.Onderwerp }}</h1>
      <p class="lead"></p>
      <hr class="my-2">
      <p>{{ item.Teaser }}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" (click)="getItem()" role="button">volgende</a>
      </p>
    </div>

    <div class="row">

      <div class="col-sm" [innerHTML]="item.Body">
      </div>
      <div class="col-sm d-sx-none d-md-block">
        <div *ngFor="let image of item.Images">
          {{ image.Naam }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container content">
  <div *ngFor="let item of items">

    <div class="row">
      <div class="col-md-2">
        onderwerp
      </div>
      <div class="col-md-10">
        {{ item.Onderwerp }}
      </div>
    </div>

    <div class="row d-none d-sm-block">
      <div class="col-md-2">
        teaser
      </div>
      <div class="col-md-10">
        {{ item.Teaser }}
      </div>
    </div>

    <div class="row d-none d-sm-block">
      <div class="col-md-2">
        CreatedBy
      </div>
      <div class="col-md-10">
        {{ item.CreateDate | date:"dd MMM yyyy" }}
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-md-2">
        CreateDate
      </div>
      <div class="col-md-10">
        {{ item.CreatedBy }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Tekst
      </div>
      <div class="col-md-10" [innerHTML]="item.Body">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Foto's
      </div>
      <div class="col-md-10">
        <div *ngFor="let image of item.Images">
          {{ image.Naam }}
        </div>
      </div>
    </div>

    <div class="row d-none d-md-block">
      <div class="col-md-2">
        tags
      </div>
      <div class="col-md-10">
        {{ item.Tags }}
      </div>
    </div>

    
  </div>
</div> -->
